@model Expedientes_Goya.Areas.Expedientes.Models.Expedientes

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Expedientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumExpdt" class="control-label"></label>
                <input asp-for="NumExpdt" class="form-control" />
                <span asp-validation-for="NumExpdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDepInicio" class="control-label"></label>
                <input asp-for="IdDepInicio" class="form-control" />
                <span asp-validation-for="IdDepInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOperador" class="control-label"></label>
                <input asp-for="IdOperador" class="form-control" />
                <span asp-validation-for="IdOperador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="form-control" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extracto" class="control-label"></label>
                <input asp-for="Extracto" class="form-control" />
                <span asp-validation-for="Extracto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAltaExpte" class="control-label"></label>
                <input asp-for="FechaAltaExpte" class="form-control" />
                <span asp-validation-for="FechaAltaExpte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinalExpte" class="control-label"></label>
                <input asp-for="FechaFinalExpte" class="form-control" />
                <span asp-validation-for="FechaFinalExpte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

